<!--
    Comes from:
    https://learn.microsoft.com/fr-fr/aspnet/core/blazor/fundamentals/routing?view=aspnetcore-7.0#navlink-and-navmenu-components
-->
@page "/navigate"

<PageTitle>Page Title</PageTitle>

<h1>Navigate in component code example</h1>

<button class="btn btn-primary" @onclick="NavigateToCounterComponent">
    Navigate to the Counter component
</button>
