@page "/pagefilelog"

<PageTitle>Page File Log</PageTitle>


<style>
	table, th, td {
/*		border: 1px solid black;
		border-collapse: collapse;*/
		padding: 10px;
		/*width: 100%;*/
	}
</style>

<div >
	<table>
		<tr>
			<th colspan="2">Make some logs and display the result log file</th>
		</tr>
		<tr>
			<td>
				<button class="btn btn-primary" @onclick=ButtonMakeLogs_OnClick>Make some logs</button>

			</td>
			<td>
				<button class="btn btn-primary" @onclick=ButtonDisplayLogs_OnClick>Display logs</button>
			</td>
		</tr>
	</table>
	<InputTextArea style="width: 100%" id="description" @bind-Value="logFileToDisplay" />
</div>